In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error,mean_squared_error

In [2]:
df = pd.read_csv("subway_dataset.csv")
df = df.drop(["Unnamed: 0"], axis=1)

In [3]:
df.head()

,stationname,datetime,input,output,peopleinsidetrain,day,hour,minute
0,tajrish,1-1-1403 6:0,34,0.0,0.0,1.0,6.0,0.0
1,shariati,1-1-1403 6:0,16,0.0,0.0,1.0,6.0,0.0
2,beheshti,1-1-1403 6:0,17,0.0,0.0,1.0,6.0,0.0
3,dolat,1-1-1403 6:0,9,0.0,0.0,1.0,6.0,0.0
4,mohammadie,1-1-1403 6:0,15,0.0,0.0,1.0,6.0,0.0

In [4]:
df = df.drop_duplicates(subset=['stationname', 'datetime'], keep='first')

In [5]:
df.describe()

,input,output,peopleinsidetrain,day,hour,minute
count,94829.000000,94829.000000,94829.000000,94829.000000,94829.000000,94829.000000
mean,14.223824,14.164612,37.950532,16.000000,13.552795,26.832298
std,13.258396,13.219684,27.073861,8.944319,4.643728,17.310640
min,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000
25%,5.000000,5.000000,24.000000,8.000000,10.000000,12.000000
50%,11.000000,11.000000,37.000000,16.000000,14.000000,24.000000
75%,17.000000,17.000000,55.000000,24.000000,18.000000,42.000000
max,65.000000,101.000000,122.000000,31.000000,22.000000,54.000000

In [6]:
grouped = df.groupby('stationname')
new_variables = {group: data for group, data in grouped}

In [7]:
new_variables

{'azadi':        stationname         datetime  input  output  peopleinsidetrain   day  \
 18           azadi     1-1-1403 6:0     34     0.0                0.0   1.0
 42           azadi     1-1-1403 6:6     34     0.0               34.0   1.0
 66           azadi    1-1-1403 6:12     38     0.0               34.0   1.0
 90           azadi    1-1-1403 6:18     31     0.0               38.0   1.0
 114          azadi    1-1-1403 6:24     40     0.0               31.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120402       azadi  31-1-1403 21:36      0     0.0                0.0  31.0
 120426       azadi  31-1-1403 21:42      0     0.0                0.0  31.0
 120450       azadi  31-1-1403 21:48      0     0.0                0.0  31.0
 120474       azadi  31-1-1403 21:54      0     0.0                0.0  31.0
 120498       azadi   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 18       6.0     0.0
 42       6.0     6.0
 66       6.0    12.0
 90       6.0    18.0
 114      6.0    24.0
 ...      ...     ...
 120402  21.0    36.0
 120426  21.0    42.0
 120450  21.0    48.0
 120474  21.0    54.0
 120498  22.0     0.0

 [4991 rows x 8 columns],
 'basij':        stationname         datetime  input  output  peopleinsidetrain   day  \
 11           basij     1-1-1403 6:0      0     0.0                0.0   1.0
 35           basij     1-1-1403 6:6      0     0.0                0.0   1.0
 59           basij    1-1-1403 6:12      0     0.0                0.0   1.0
 83           basij    1-1-1403 6:18      0     0.0                0.0   1.0
 107          basij    1-1-1403 6:24      0     0.0                0.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120395       basij  31-1-1403 21:36      0    49.0                0.0  31.0
 120419       basij  31-1-1403 21:42      0    13.0                0.0  31.0
 120443       basij  31-1-1403 21:48      0    18.0                0.0  31.0
 120467       basij  31-1-1403 21:54      0     0.0                0.0  31.0
 120491       basij   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 11       6.0     0.0
 35       6.0     6.0
 59       6.0    12.0
 83       6.0    18.0
 107      6.0    24.0
 ...      ...     ...
 120395  21.0    36.0
 120419  21.0    42.0
 120443  21.0    48.0
 120467  21.0    54.0
 120491  22.0     0.0

 [4991 rows x 8 columns],
 'beheshti':        stationname         datetime  input  output  peopleinsidetrain   day  \
 2         beheshti     1-1-1403 6:0     17     0.0                0.0   1.0
 26        beheshti     1-1-1403 6:6     23     0.0                0.0   1.0
 50        beheshti    1-1-1403 6:12     12     8.0               31.0   1.0
 74        beheshti    1-1-1403 6:18     19    18.0               79.0   1.0
 98        beheshti    1-1-1403 6:24     10    11.0               88.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120386    beheshti  31-1-1403 21:36      0    20.0               49.0  31.0
 120410    beheshti  31-1-1403 21:42      0    18.0               32.0  31.0
 120434    beheshti  31-1-1403 21:48      0     0.0                0.0  31.0
 120458    beheshti  31-1-1403 21:54      0     0.0                0.0  31.0
 120482    beheshti   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 2        6.0     0.0
 26       6.0     6.0
 50       6.0    12.0
 74       6.0    18.0
 98       6.0    24.0
 ...      ...     ...
 120386  21.0    36.0
 120410  21.0    42.0
 120434  21.0    48.0
 120458  21.0    54.0
 120482  22.0     0.0

 [4991 rows x 8 columns],
 'bouali':        stationname         datetime  input  output  peopleinsidetrain   day  \
 23          bouali     1-1-1403 6:0      0     0.0                0.0   1.0
 47          bouali     1-1-1403 6:6      0     0.0                0.0   1.0
 71          bouali    1-1-1403 6:12      0     0.0                0.0   1.0
 95          bouali    1-1-1403 6:18      0     0.0                0.0   1.0
 119         bouali    1-1-1403 6:24      0     0.0                0.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120407      bouali  31-1-1403 21:36      0    33.0                0.0  31.0
 120431      bouali  31-1-1403 21:42      0    16.0                0.0  31.0
 120455      bouali  31-1-1403 21:48      0     5.0                0.0  31.0
 120479      bouali  31-1-1403 21:54      0     0.0                0.0  31.0
 120503      bouali   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 23       6.0     0.0
 47       6.0     6.0
 71       6.0    12.0
 95       6.0    18.0
 119      6.0    24.0
 ...      ...     ...
 120407  21.0    36.0
 120431  21.0    42.0
 120455  21.0    48.0
 120479  21.0    54.0
 120503  22.0     0.0

 [4991 rows x 8 columns],
 'dolat':        stationname         datetime  input  output  peopleinsidetrain   day  \
 3            dolat     1-1-1403 6:0      9     0.0                0.0   1.0
 27           dolat     1-1-1403 6:6     16     0.0                0.0   1.0
 51           dolat    1-1-1403 6:12     30     0.0                0.0   1.0
 75           dolat    1-1-1403 6:18     17    11.0               57.0   1.0
 99           dolat    1-1-1403 6:24      8    17.0               89.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120387       dolat  31-1-1403 21:36      0    13.0               68.0  31.0
 120411       dolat  31-1-1403 21:42      0    14.0               29.0  31.0
 120435       dolat  31-1-1403 21:48      0    15.0                4.0  31.0
 120459       dolat  31-1-1403 21:54      0     0.0                0.0  31.0
 120483       dolat   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 3        6.0     0.0
 27       6.0     6.0
 51       6.0    12.0
 75       6.0    18.0
 99       6.0    24.0
 ...      ...     ...
 120387  21.0    36.0
 120411  21.0    42.0
 120435  21.0    48.0
 120459  21.0    54.0
 120483  22.0     0.0

 [4991 rows x 8 columns],
 'ferdowsi':        stationname         datetime  input  output  peopleinsidetrain   day  \
 20        ferdowsi     1-1-1403 6:0      7     0.0                0.0   1.0
 44        ferdowsi     1-1-1403 6:6     22     0.0                0.0   1.0
 68        ferdowsi    1-1-1403 6:12     17    17.0               22.0   1.0
 92        ferdowsi    1-1-1403 6:18      9     4.0               49.0   1.0
 116       ferdowsi    1-1-1403 6:24     12    10.0               43.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120404    ferdowsi  31-1-1403 21:36      0    10.0               18.0  31.0
 120428    ferdowsi  31-1-1403 21:42      0     8.0                3.0  31.0
 120452    ferdowsi  31-1-1403 21:48      0     0.0                0.0  31.0
 120476    ferdowsi  31-1-1403 21:54      0     0.0                0.0  31.0
 120500    ferdowsi   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 20       6.0     0.0
 44       6.0     6.0
 68       6.0    12.0
 92       6.0    18.0
 116      6.0    24.0
 ...      ...     ...
 120404  21.0    36.0
 120428  21.0    42.0
 120452  21.0    48.0
 120476  21.0    54.0
 120500  22.0     0.0

 [4991 rows x 8 columns],
 'ghaem':        stationname         datetime  input  output  peopleinsidetrain   day  \
 17           ghaem     1-1-1403 6:0      0     0.0                0.0   1.0
 41           ghaem     1-1-1403 6:6      0     0.0                0.0   1.0
 65           ghaem    1-1-1403 6:12      0     0.0                0.0   1.0
 89           ghaem    1-1-1403 6:18      0     0.0                0.0   1.0
 113          ghaem    1-1-1403 6:24      0     0.0                0.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120401       ghaem  31-1-1403 21:36      0    45.0                0.0  31.0
 120425       ghaem  31-1-1403 21:42      0    16.0                0.0  31.0
 120449       ghaem  31-1-1403 21:48      0     7.0                0.0  31.0
 120473       ghaem  31-1-1403 21:54      0     0.0                0.0  31.0
 120497       ghaem   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 17       6.0     0.0
 41       6.0     6.0
 65       6.0    12.0
 89       6.0    18.0
 113      6.0    24.0
 ...      ...     ...
 120401  21.0    36.0
 120425  21.0    42.0
 120449  21.0    48.0
 120473  21.0    54.0
 120497  22.0     0.0

 [4991 rows x 8 columns],
 'heravi':        stationname         datetime  input  output  peopleinsidetrain   day  \
 16          heravi     1-1-1403 6:0     12     0.0                0.0   1.0
 40          heravi     1-1-1403 6:6     17     0.0                0.0   1.0
 64          heravi    1-1-1403 6:12     27     0.0                0.0   1.0
 88          heravi    1-1-1403 6:18     38     0.0                0.0   1.0
 112         heravi    1-1-1403 6:24     11    16.0               66.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120400      heravi  31-1-1403 21:36      0     8.0               16.0  31.0
 120424      heravi  31-1-1403 21:42      0     9.0                7.0  31.0
 120448      heravi  31-1-1403 21:48      0     0.0                0.0  31.0
 120472      heravi  31-1-1403 21:54      0     0.0                0.0  31.0
 120496      heravi   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 16       6.0     0.0
 40       6.0     6.0
 64       6.0    12.0
 88       6.0    18.0
 112      6.0    24.0
 ...      ...     ...
 120400  21.0    36.0
 120424  21.0    42.0
 120448  21.0    48.0
 120472  21.0    54.0
 120496  22.0     0.0

 [4991 rows x 8 columns],
 'jahad':        stationname         datetime  input  output  peopleinsidetrain   day  \
 14           jahad     1-1-1403 6:0     18     0.0                0.0   1.0
 38           jahad     1-1-1403 6:6     34     0.0                0.0   1.0
 62           jahad    1-1-1403 6:12     17    14.0               55.0   1.0
 86           jahad    1-1-1403 6:18     14    12.0               53.0   1.0
 110          jahad    1-1-1403 6:24     13     9.0               41.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120398       jahad  31-1-1403 21:36      0    18.0               18.0  31.0
 120422       jahad  31-1-1403 21:42      0     0.0                0.0  31.0
 120446       jahad  31-1-1403 21:48      0     0.0                0.0  31.0
 120470       jahad  31-1-1403 21:54      0     0.0                0.0  31.0
 120494       jahad   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 14       6.0     0.0
 38       6.0     6.0
 62       6.0    12.0
 86       6.0    18.0
 110      6.0    24.0
 ...      ...     ...
 120398  21.0    36.0
 120422  21.0    42.0
 120446  21.0    48.0
 120470  21.0    54.0
 120494  22.0     0.0

 [4991 rows x 8 columns],
 'kaharizak':        stationname         datetime  input  output  peopleinsidetrain   day  \
 5        kaharizak     1-1-1403 6:0      0     0.0                0.0   1.0
 29       kaharizak     1-1-1403 6:6      0     0.0                0.0   1.0
 53       kaharizak    1-1-1403 6:12      0     0.0                0.0   1.0
 77       kaharizak    1-1-1403 6:18      0     0.0                0.0   1.0
 101      kaharizak    1-1-1403 6:24      0     0.0                0.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120389   kaharizak  31-1-1403 21:36      0    45.0                0.0  31.0
 120413   kaharizak  31-1-1403 21:42      0    34.0                0.0  31.0
 120437   kaharizak  31-1-1403 21:48      0    25.0                0.0  31.0
 120461   kaharizak  31-1-1403 21:54      0     8.0                0.0  31.0
 120485   kaharizak   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 5        6.0     0.0
 29       6.0     6.0
 53       6.0    12.0
 77       6.0    18.0
 101      6.0    24.0
 ...      ...     ...
 120389  21.0    36.0
 120413  21.0    42.0
 120437  21.0    48.0
 120461  21.0    54.0
 120485  22.0     0.0

 [4991 rows x 8 columns],
 'mohammadie':        stationname         datetime  input  output  peopleinsidetrain   day  \
 4       mohammadie     1-1-1403 6:0     15     0.0                0.0   1.0
 28      mohammadie     1-1-1403 6:6     34     0.0                0.0   1.0
 52      mohammadie    1-1-1403 6:12     42     0.0                0.0   1.0
 76      mohammadie    1-1-1403 6:18     18     8.0               80.0   1.0
 100     mohammadie    1-1-1403 6:24     18    14.0               69.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120388  mohammadie  31-1-1403 21:36      0    10.0               67.0  31.0
 120412  mohammadie  31-1-1403 21:42      0    13.0               49.0  31.0
 120436  mohammadie  31-1-1403 21:48      0    11.0               15.0  31.0
 120460  mohammadie  31-1-1403 21:54      0     2.0                0.0  31.0
 120484  mohammadie   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 4        6.0     0.0
 28       6.0     6.0
 52       6.0    12.0
 76       6.0    18.0
 100      6.0    24.0
 ...      ...     ...
 120388  21.0    36.0
 120412  21.0    42.0
 120436  21.0    48.0
 120460  21.0    54.0
 120484  22.0     0.0

 [4991 rows x 8 columns],
 'molavi':        stationname         datetime  input  output  peopleinsidetrain   day  \
 10          molavi     1-1-1403 6:0     13     0.0                0.0   1.0
 34          molavi     1-1-1403 6:6     27     0.0                0.0   1.0
 58          molavi    1-1-1403 6:12     42     0.0                0.0   1.0
 82          molavi    1-1-1403 6:18     53     0.0                0.0   1.0
 106         molavi    1-1-1403 6:24     17    11.0               76.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120394      molavi  31-1-1403 21:36      0    20.0               13.0  31.0
 120418      molavi  31-1-1403 21:42      0     6.0               18.0  31.0
 120442      molavi  31-1-1403 21:48      0     7.0                0.0  31.0
 120466      molavi  31-1-1403 21:54      0     0.0                0.0  31.0
 120490      molavi   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 10       6.0     0.0
 34       6.0     6.0
 58       6.0    12.0
 82       6.0    18.0
 106      6.0    24.0
 ...      ...     ...
 120394  21.0    36.0
 120418  21.0    42.0
 120442  21.0    48.0
 120466  21.0    54.0
 120490  22.0     0.0

 [4991 rows x 8 columns],
 'sanaat':        stationname         datetime  input  output  peopleinsidetrain   day  \
 6           sanaat     1-1-1403 6:0     38     0.0                0.0   1.0
 30          sanaat     1-1-1403 6:6     51     0.0               38.0   1.0
 54          sanaat    1-1-1403 6:12     35     0.0               51.0   1.0
 78          sanaat    1-1-1403 6:18     37     0.0               35.0   1.0
 102         sanaat    1-1-1403 6:24     37     0.0               37.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120390      sanaat  31-1-1403 21:36      0     0.0                0.0  31.0
 120414      sanaat  31-1-1403 21:42      0     0.0                0.0  31.0
 120438      sanaat  31-1-1403 21:48      0     0.0                0.0  31.0
 120462      sanaat  31-1-1403 21:54      0     0.0                0.0  31.0
 120486      sanaat   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 6        6.0     0.0
 30       6.0     6.0
 54       6.0    12.0
 78       6.0    18.0
 102      6.0    24.0
 ...      ...     ...
 120390  21.0    36.0
 120414  21.0    42.0
 120438  21.0    48.0
 120462  21.0    54.0
 120486  22.0     0.0

 [4991 rows x 8 columns],
 'satari':        stationname         datetime  input  output  peopleinsidetrain   day  \
 12          satari     1-1-1403 6:0     34     0.0                0.0   1.0
 36          satari     1-1-1403 6:6     38     0.0               34.0   1.0
 60          satari    1-1-1403 6:12     43     0.0               38.0   1.0
 84          satari    1-1-1403 6:18     32     0.0               43.0   1.0
 108         satari    1-1-1403 6:24     35     0.0               32.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120396      satari  31-1-1403 21:36      0     0.0                0.0  31.0
 120420      satari  31-1-1403 21:42      0     0.0                0.0  31.0
 120444      satari  31-1-1403 21:48      0     0.0                0.0  31.0
 120468      satari  31-1-1403 21:54      0     0.0                0.0  31.0
 120492      satari   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 12       6.0     0.0
 36       6.0     6.0
 60       6.0    12.0
 84       6.0    18.0
 108      6.0    24.0
 ...      ...     ...
 120396  21.0    36.0
 120420  21.0    42.0
 120444  21.0    48.0
 120468  21.0    54.0
 120492  22.0     0.0

 [4991 rows x 8 columns],
 'shariati':        stationname         datetime  input  output  peopleinsidetrain   day  \
 1         shariati     1-1-1403 6:0     16     0.0                0.0   1.0
 25        shariati     1-1-1403 6:6      4     0.0               16.0   1.0
 49        shariati    1-1-1403 6:12      9     8.0               30.0   1.0
 73        shariati    1-1-1403 6:18     11    11.0               27.0   1.0
 97        shariati    1-1-1403 6:24     10    12.0               40.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120385    shariati  31-1-1403 21:36      0     7.0               32.0  31.0
 120409    shariati  31-1-1403 21:42      0     0.0                0.0  31.0
 120433    shariati  31-1-1403 21:48      0     0.0                0.0  31.0
 120457    shariati  31-1-1403 21:54      0     0.0                0.0  31.0
 120481    shariati   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 1        6.0     0.0
 25       6.0     6.0
 49       6.0    12.0
 73       6.0    18.0
 97       6.0    24.0
 ...      ...     ...
 120385  21.0    36.0
 120409  21.0    42.0
 120433  21.0    48.0
 120457  21.0    54.0
 120481  22.0     0.0

 [4991 rows x 8 columns],
 'shemiran':        stationname         datetime  input  output  peopleinsidetrain   day  \
 22        shemiran     1-1-1403 6:0     13     0.0                0.0   1.0
 46        shemiran     1-1-1403 6:6     22     0.0                0.0   1.0
 70        shemiran    1-1-1403 6:12     29     0.0                0.0   1.0
 94        shemiran    1-1-1403 6:18     36     0.0                0.0   1.0
 118       shemiran    1-1-1403 6:24     13    12.0               68.0   1.0
 ...            ...              ...    ...     ...                ...   ...
 120406    shemiran  31-1-1403 21:36      0    18.0               16.0  31.0
 120430    shemiran  31-1-1403 21:42      0     9.0                5.0  31.0
 120454    shemiran  31-1-1403 21:48      0     2.0                0.0  31.0
 120478    shemiran  31-1-1403 21:54      0     0.0                0.0  31.0
 120502    shemiran   31-1-1403 22:0      0     0.0                0.0  31.0

         hour  minute
 22       6.0     0.0
 46       6.0     6.0
 70       6.0    12.0
 94       6.0    18.0
 118      6.0    24.0
 ...      ...     ...
 120406  21.0    36.0
 120430  21.0    42.0
 120454  21.0    48.0
 120478  21.0    54.0
 120502  22.0     0.0

 [4991 rows x 8 columns],
 'tajrish':        stationname         datetime  input  output  peopleinsidetrain   day  \
 0          tajrish     1-1-1403 6:0     34     0.0                0.0   1.0
 24         tajrish     1-1-1403 6:6     29     0.0               34.0   1.0
 48         tajrish    1-1-1403 6:12     41     0.0               29.0   1.0

In [8]:
print(f"count of values: {len(new_variables)}, and keys are:\n{new_variables.keys()}")

count of values: 19, and keys are:
dict_keys(['azadi', 'basij', 'beheshti', 'bouali', 'dolat', 'ferdowsi', 'ghaem', 'heravi', 'jahad', 'kaharizak', 'mohammadie', 'molavi', 'sanaat', 'satari', 'shariati', 'shemiran', 'tajrish', 'teatr', 'valiasr'])

In [9]:
# what should i do now?
'''
first i write the code for one station
then i will run a for loop on new_variables that contains all parts of preprocessing and fit train check

what should be the loss function? i think the best loss function for this can be MSE because we have numeric values to predict


what should be the preprocessing step?
1. splitting the date time
2. i think i can use the hour and minute as inputs and the date wont have any effect on this!
3. so a polynomial regression can handle this project
'''

'\nfirst i write the code for one station\nthen i will run a for loop on new_variables that contains all parts of preprocessing and fit train check\n\nwhat should be the loss function? i think the best loss function for this can be MSE because we have numeric values to predict\n\n\nwhat should be the preprocessing step?\n1. splitting the date time\n2. i think i can use the hour and minute as inputs and the date wont have any effect on this!\n3. so a polynomial regression can handle this project\n'

In [25]:
input_keys = ["day", "hour", "minute"]
output_keys = ["input", "output", "peopleinsidetrain"]

## later i add a for loop here
# station = list(new_variables.keys())[0]
i = 0
for station in new_variables.keys():
    print(30*"#")
    print(f"{i}. station name is: {station}")
    i = i + 1
    for ok in output_keys:
        X = new_variables[station][input_keys]
        y = new_variables[station][ok]
        polynomial = PolynomialFeatures(degree=2,include_bias=False)
        poly_features = polynomial.fit_transform(X)
        X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.2, random_state=42)
        model = LinearRegression(fit_intercept=True)
        model.fit(X_train,y_train)
        predictions = model.predict(X_test)
        
        MAE = mean_absolute_error(y_test,predictions)
        MSE = mean_squared_error(y_test,predictions)
        RMSE = np.sqrt(MSE)
        
        print("MAE of %s: %f" % (ok, MAE))
        print("RMSE of %s: %f" % (ok, RMSE))
        # residuals = y_test - predictions
        # sns.scatterplot(x=y_test,y=residuals)
        # plt.axhline(y=0, color='r', linestyle='--')
        # plt.xlabel("Charges")
        # plt.ylabel("Residuals")
        # plt.title("Residual Plot")
        # plt.show()

##############################
0. station name is: azadi
MAE of input: 6.031319
RMSE of input: 8.264817
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 5.902378
RMSE of peopleinsidetrain: 8.264982
##############################
1. station name is: basij
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 6.825309
RMSE of output: 9.356067
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
2. station name is: beheshti
MAE of input: 3.572524
RMSE of input: 4.567708
MAE of output: 3.324269
RMSE of output: 4.235992
MAE of peopleinsidetrain: 11.648565
RMSE of peopleinsidetrain: 16.102812
##############################
3. station name is: bouali
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 7.187923
RMSE of output: 9.712610
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
4. station name is: dolat
MAE of input: 3.151435
RMSE of input: 4.150458
MAE of output: 2.866977
RMSE of output: 3.665001
MAE of peopleinsidetrain: 11.317846
RMSE of peopleinsidetrain: 15.935422
##############################
5. station name is: ferdowsi
MAE of input: 3.305741
RMSE of input: 4.245657
MAE of output: 3.093865
RMSE of output: 3.893736
MAE of peopleinsidetrain: 6.950910
RMSE of peopleinsidetrain: 9.277493
##############################
6. station name is: ghaem
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 7.266256
RMSE of output: 9.899322
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
7. station name is: heravi
MAE of input: 3.162098
RMSE of input: 4.599003
MAE of output: 2.753417
RMSE of output: 3.455950
MAE of peopleinsidetrain: 7.535815
RMSE of peopleinsidetrain: 10.239529
##############################
8. station name is: jahad
MAE of input: 3.359581
RMSE of input: 4.279344
MAE of output: 3.208989
RMSE of output: 4.068877
MAE of peopleinsidetrain: 6.966783
RMSE of peopleinsidetrain: 9.449623
##############################
9. station name is: kaharizak
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 5.105176
RMSE of output: 7.599115
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
10. station name is: mohammadie
MAE of input: 3.329617
RMSE of input: 4.420150
MAE of output: 2.991064
RMSE of output: 3.814315
MAE of peopleinsidetrain: 9.748277
RMSE of peopleinsidetrain: 14.301319
##############################
11. station name is: molavi
MAE of input: 3.332444
RMSE of input: 4.969770
MAE of output: 2.962643
RMSE of output: 3.741373
MAE of peopleinsidetrain: 6.826685
RMSE of peopleinsidetrain: 9.362412
##############################
12. station name is: sanaat
MAE of input: 6.413742
RMSE of input: 8.858245
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 6.338719
RMSE of peopleinsidetrain: 8.737237
##############################
13. station name is: satari
MAE of input: 6.380792
RMSE of input: 8.714625
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 6.256353
RMSE of peopleinsidetrain: 8.666437
##############################
14. station name is: shariati
MAE of input: 2.857793
RMSE of input: 3.572008
MAE of output: 2.642983
RMSE of output: 3.342015
MAE of peopleinsidetrain: 6.890699
RMSE of peopleinsidetrain: 9.209003
##############################
15. station name is: shemiran
MAE of input: 3.435458
RMSE of input: 5.069659
MAE of output: 3.088265
RMSE of output: 3.932327
MAE of peopleinsidetrain: 7.481759
RMSE of peopleinsidetrain: 10.152896
##############################
16. station name is: tajrish
MAE of input: 6.379786
RMSE of input: 8.649251
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 6.182479
RMSE of peopleinsidetrain: 8.593701
##############################
17. station name is: teatr
MAE of input: 3.260311
RMSE of input: 4.096195
MAE of output: 3.194341
RMSE of output: 4.104900
MAE of peopleinsidetrain: 9.998213
RMSE of peopleinsidetrain: 14.212628
##############################
18. station name is: valiasr
MAE of input: 3.191074
RMSE of input: 4.132686
MAE of output: 3.419038
RMSE of output: 4.374284
MAE of peopleinsidetrain: 10.697757
RMSE of peopleinsidetrain: 15.302128

In [26]:
from sklearn.svm import SVR

## later i add a for loop here
# station = list(new_variables.keys())[0]
i = 0
for station in new_variables.keys():
    print(30*"#")
    print(f"{i}. station name is: {station}")
    i = i + 1
    for ok in output_keys:
        X = new_variables[station][input_keys]
        y = new_variables[station][ok]
        polynomial = PolynomialFeatures(degree=2,include_bias=False)
        poly_features = polynomial.fit_transform(X)
        X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.2, random_state=42)
        model = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
        model.fit(X_train,y_train)
        predictions = model.predict(X_test)
        
        MAE = mean_absolute_error(y_test,predictions)
        MSE = mean_squared_error(y_test,predictions)
        RMSE = np.sqrt(MSE)
        
        print("MAE of %s: %f" % (ok, MAE))
        print("RMSE of %s: %f" % (ok, RMSE))
        residuals = y_test - predictions
        # sns.scatterplot(x=y_test,y=residuals)
        # plt.axhline(y=0, color='r', linestyle='--')
        # plt.xlabel("Charges")
        # plt.ylabel("Residuals")
        # plt.title("Residual Plot")
        # plt.show()

##############################
0. station name is: azadi
MAE of input: 5.877258
RMSE of input: 9.106974
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 5.801608
RMSE of peopleinsidetrain: 8.921745
##############################
1. station name is: basij
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 6.780299
RMSE of output: 10.188694
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
2. station name is: beheshti
MAE of input: 3.598037
RMSE of input: 4.800677
MAE of output: 3.354491
RMSE of output: 4.389348
MAE of peopleinsidetrain: 11.429967
RMSE of peopleinsidetrain: 17.435501
##############################
3. station name is: bouali
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 7.360315
RMSE of output: 10.603787
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
4. station name is: dolat
MAE of input: 3.146394
RMSE of input: 4.315059
MAE of output: 2.899211
RMSE of output: 3.772079
MAE of peopleinsidetrain: 11.430599
RMSE of peopleinsidetrain: 17.433075
##############################
5. station name is: ferdowsi
MAE of input: 3.305401
RMSE of input: 4.408825
MAE of output: 3.079854
RMSE of output: 3.972932
MAE of peopleinsidetrain: 6.977176
RMSE of peopleinsidetrain: 9.917103
##############################
6. station name is: ghaem
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 7.534036
RMSE of output: 10.848876
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
7. station name is: heravi
MAE of input: 3.092788
RMSE of input: 4.810169
MAE of output: 2.767288
RMSE of output: 3.605187
MAE of peopleinsidetrain: 7.516728
RMSE of peopleinsidetrain: 11.014242
##############################
8. station name is: jahad
MAE of input: 3.346586
RMSE of input: 4.444392
MAE of output: 3.213317
RMSE of output: 4.178006
MAE of peopleinsidetrain: 7.000825
RMSE of peopleinsidetrain: 10.164221
##############################
9. station name is: kaharizak
MAE of input: 0.000000
RMSE of input: 0.000000
MAE of output: 5.007994
RMSE of output: 8.597803
MAE of peopleinsidetrain: 0.000000
RMSE of peopleinsidetrain: 0.000000
##############################
10. station name is: mohammadie
MAE of input: 3.331594
RMSE of input: 4.626081
MAE of output: 2.982474
RMSE of output: 3.899038
MAE of peopleinsidetrain: 9.572574
RMSE of peopleinsidetrain: 15.805676
##############################
11. station name is: molavi
MAE of input: 3.340028
RMSE of input: 5.234045
MAE of output: 2.956785
RMSE of output: 3.855100
MAE of peopleinsidetrain: 6.948750
RMSE of peopleinsidetrain: 10.246384
##############################
12. station name is: sanaat
MAE of input: 6.474992
RMSE of input: 9.805713
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 6.228234
RMSE of peopleinsidetrain: 9.464222
##############################
13. station name is: satari
MAE of input: 6.367063
RMSE of input: 9.698383
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 6.206551
RMSE of peopleinsidetrain: 9.484877
##############################
14. station name is: shariati
MAE of input: 2.899176
RMSE of input: 3.746411
MAE of output: 2.648641
RMSE of output: 3.449859
MAE of peopleinsidetrain: 6.903094
RMSE of peopleinsidetrain: 9.804733
##############################
15. station name is: shemiran
MAE of input: 3.389792
RMSE of input: 5.335138
MAE of output: 3.121974
RMSE of output: 4.073603
MAE of peopleinsidetrain: 7.656390
RMSE of peopleinsidetrain: 10.986129
##############################
16. station name is: tajrish
MAE of input: 6.222355
RMSE of input: 9.460413
MAE of output: 0.000000
RMSE of output: 0.000000
MAE of peopleinsidetrain: 6.022536
RMSE of peopleinsidetrain: 9.252969
##############################
17. station name is: teatr
MAE of input: 3.330017
RMSE of input: 4.368705
MAE of output: 3.209664
RMSE of output: 4.207846
MAE of peopleinsidetrain: 9.922701
RMSE of peopleinsidetrain: 15.615606
##############################
18. station name is: valiasr
MAE of input: 3.190352
RMSE of input: 4.392108
MAE of output: 3.424703
RMSE of output: 4.536134
MAE of peopleinsidetrain: 10.411852
RMSE of peopleinsidetrain: 16.768766

In [ ]:
from sklearn.svm import SVR

## later i add a for loop here
# station = list(new_variables.keys())[0]
i = 0
for station in new_variables.keys():
    print(30*"#")
    print(f"{i}. station name is: {station}")
    i = i + 1
    for ok in output_keys:
        X = new_variables[station][input_keys]
        y = new_variables[station][ok]
        polynomial = PolynomialFeatures(degree=2,include_bias=False)
        poly_features = polynomial.fit_transform(X)
        X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.2, random_state=42)
        model = SVR(kernel='poly', C=100, gamma=0.1, epsilon=.1)
        model.fit(X_train,y_train)
        predictions = model.predict(X_test)
        
        MAE = mean_absolute_error(y_test,predictions)
        MSE = mean_squared_error(y_test,predictions)
        RMSE = np.sqrt(MSE)
        
        print("MAE of %s: %f" % (ok, MAE))
        print("RMSE of %s: %f" % (ok, RMSE))
        residuals = y_test - predictions

In [ ]:
# what can i do?!?! i can use grid search with this and changing the poly kernel hyper params like gamma and epsilon
'''
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR

# Define the parameter grid
param_grid = {
    'kernel': ['poly'],
    'C': [1, 5, 10],
    'degree': [3, 8],
    'coef0': [0.01, 10, 0.5],
    'gamma': ['auto', 'scale']
}

# Initialize the SVR model
svr = SVR()

# Create a GridSearchCV object
grid_search = GridSearchCV(svr, param_grid, cv=5)

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)
'''